@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-green-400 via-teal-400 to-cyan-500;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}